{{#each erros}}
    <div class="alert alert-danger" role="alert">{{texto}}</div>
{{else}}

{{/each}}

<h3>Nova categoria</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST" >
        <label for="nome" class="form-label">Nome: </label>
        <input class="form-control form-control-md" type="text" type="text" id="nome" name="nome" placeholder="Nome da categoria">
        <button type="submit" class="btn btn-outline-success mt-4">Criar Categoria</button>
        </form>
    </div>
</div>
