<h1>Painel Admin</h1>
<div class="list-group">
  <a href="/admin/categorias" class="list-group-item list-group-item-action">Editar/Adicionar Categorias</a>
  <br>
  <a href="/admin/postagens" class="list-group-item list-group-item-action">Editar/Adicionar Postagens</a>
</div>