
        <nav class="navbar-light navbar navbar-expand-lg bg-body-tertiary border-bottom border-body" id="mainNav" data-bs-theme="dark">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">BlogApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Início</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contato">Contato</a></li>
                    {{#if user}}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/admin">Painel Admin</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/usuarios/edit/{{user._id}}">{{user.nick}}</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/usuarios/logout">Sair</a></li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/usuarios/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/usuarios/registro">Crie sua conta</a></li>
                    {{/if}}
                    </ul>
                </div>
            </div>
        </nav>